@model IEnumerable<EAP_Assignment.Models.Coin>
@using EAP_Assignment.Models


@{
    ViewBag.Title = "HOme";
}

<h2>Home</h2>


@using (Html.BeginForm("Index", "Client", FormMethod.Get))
{
    <p>
        Search : @Html.TextBox("SearchKeyword")
        <select name="market">
            @foreach (var cate in Util.GetCategories())
            {
                <option value="" selected hidden>Choose Market</option>
                <option value="@cate.Id">@cate.Name</option>
            }

        </select>
        <input type="submit" value="Search" />
        <a href="/Coins/Index"> Back to Full List</a>
    </p>
}


<table class="table">
    <tr>
        <th>
            Name Market
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseAsset)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuoteAsset)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Volum24h)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Market.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseAsset)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteAsset)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volum24h)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
    }

</table>


